<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table mat-table [dataSource]="reservation" class="mat-elevation-z8 demo-table">
        <!-- Définition d'une colonne -->
        <ng-container matColumnDef="reservation">
            <th mat-header-cell *matHeaderCellDef>Reservation number</th> <!--Nom colonne-->
            <td mat-cell *matCellDef="let element">{{element.reservation}}</td>
            <!--Element à mettre dans la colonne. -->
        </ng-container>
        <ng-container matColumnDef="utilisateur_id">
            <th mat-header-cell *matHeaderCellDef>Users Id</th> <!--Nom colonne-->
            <td mat-cell *matCellDef="let element">{{element.utilisateur_id}}</td>
            <!--Element à mettre dans la colonne. -->
        </ng-container>
        <ng-container matColumnDef="jeux_id">
            <th mat-header-cell *matHeaderCellDef>Playgrounds Id</th> <!--Nom colonne-->
            <td mat-cell *matCellDef="let element">{{element.jeux_id}}</td> <!--Element à mettre dans la colonne. -->
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> <!--Choix des colonnes à afficher.-->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator> <!--Paginateur affichant 5 lignes par page-->

    <!-- Formulaire de création de réservation -->
    <div>
        <h3>Créer une nouvelle réservation</h3>
        <form (ngSubmit)="onSubmit()">
            <label for="utilisateurId">ID Utilisateur: </label>
            <input type="number" id="utilisateurId" [(ngModel)]="newReservation.utilisateur_id" name="utilisateurId" required><br>
            <br>
            <label for="jeuId">ID Jeu: </label>
            <input type="number" id="jeuId" [(ngModel)]="newReservation.jeux_id" name="jeuId" required><br>
            <br>
            <label for="reservation">Quantité: </label>
            <input type="number" id="reservation" [(ngModel)]="newReservation.reservation" name="reservation" required><br>
            <br>
            <button type="submit">Créer la réservation</button>
          </form>
          
    </div>

    <script>
    </script>

</body>

</html>