<h1>TEST</h1>
<table mat-table [dataSource]="jeux" class="mat-elevation-z8 demo-table">
    <!-- Définition d'une colonne -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th> <!--Nom colonne-->
        <td mat-cell *matCellDef="let element">{{element.position}}</td> <!--Element à mettre dans la colonne. -->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> <!--Choix des colonnes à afficher.-->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>