<!-- on récupère les données dans jeux avec [dataSource]-->
<table mat-table [dataSource]="jeux" class="mat-elevation-z8 demo-table">
    <!-- zone nom-->
    <ng-container matColumnDef="nom"> <!-- on défini la colonne nom -->
        <th mat-header-cell *matHeaderCellDef>Nom</th> 
        <td mat-cell *matCellDef="let element">{{element.nom}}</td> <!-- on récupère le nom de l'element -->
    </ng-container>
    <!--zone description-->
    <ng-container matColumnDef="description"><!-- on défini la colonne description-->
        <th mat-header-cell *matHeaderCellDef>Description</th> 
        <td mat-cell *matCellDef="let element">{{element.description}}</td> <!--on récupère la desciption de l'element -->
    </ng-container>
    <!-- zone quantite-->
    <ng-container matColumnDef="quantite"> <!-- on défini la colonne quantite-->
        <th mat-header-cell *matHeaderCellDef>Quantite</th> 
        <td mat-cell *matCellDef="let element">{{element.quantite}}</td> <!-- on récupère la quantite de l'element -->
    </ng-container>
    <!-- zone point Géométrique -->
    <ng-container matColumnDef="point_geo"> <!-- on défini la colonne point_geo-->
        <th mat-header-cell *matHeaderCellDef>PointGeo</th>
        <td mat-cell *matCellDef="let element">{{element.point_geo}}</td> <!-- on récupère le point géométrique de l'element -->
    </ng-container>
    <!-- zone de suppression-->
    <ng-container matColumnDef="supprimer"> <!-- on défini la colonne supprimer -->
        <th mat-header-cell *matHeaderCellDef>Supprimer</th> 
        <td mat-cell *matCellDef="let element">
            <button class="button-rounded" mat-flat-button color="warn"  type="button" (click)="onDelete(element)">Supprimer</button> <!-- ici on créer un bouton supprimer qui appele la méthode onDelete avec en paramètre l'element-->
        </td> <!-- l'element permet de savoir qu'elle ligne est à prendre en compte-->
    </ng-container>
    <!-- zone de modification-->
    <ng-container matColumnDef="modifier"> <!-- on défini la colonne modifier-->
        <th mat-header-cell *matHeaderCellDef>modifier</th>
        <td mat-cell *matCellDef="let element">
            <button class="button-rounded" mat-flat-button color="accent" type="button" (click)="update(element)">modifier</button> <!-- ici on créer un bouton modifier qui appelle la méthode update avec comme paramètre l'element-->
        </td><!-- l'element permet de savoir qu'elle ligne est à prendre en compte-->
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> <!-- permet de générer automatiquement les entètes en fonction de displayedColumns-->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> <!-- permet d'afficher les valeurs des colonnes pour chaque élement de la source de donnée (dataSource)-->
</table>
<mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator><!-- permet la création d'une pagination, affiche que 5 info ici-->
