<br>
  <form [formGroup]="jeuForm" (ngSubmit)="modifier()">
    <mat-form-field>
  
      <mat-label>Nom</mat-label>
      <input matInput formControlName="nom" required>
      
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Quantité</mat-label>
      <input matInput formControlName="quantite" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Point Geo</mat-label>
      <input matInput formControlName="point_geo" required>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit">Enregistrer</button>
    <button mat-raised-button type="button" (click)="cancel()">Annuler</button>

  </form>